.menu{
    display: inline;
}

.bg-darkness {
    background-color: #24282D;
}

.bg-backy {
    background-color: #495059!important;
}

.bg-backy2 {
    background-color: #3d424a!important;
}

body {
    background-color: #24282D;
}

.light-text {
    color: #F1F1F1;
}

.orange-text {
    color: #FF6B21;
}

.btn-orangu {
    color: #F1F1F1;
    background-color: #FF6B21;
    border-color: #FF6B21;
}
